[req]
default_bits = 2048
default_keyfile = kube-apiserver.key
prompt = no
encrypt_key = no
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]
CN = kube-apiserver

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.svc.cluster.local
IP.1 = 10.96.0.1
IP.2 = 192.168.5.11
IP.3 = 192.168.5.12
IP.4 = 192.168.5.30
IP.5 = 127.0.0.1